/telalogin/build/
/telalogin/nbproject/private/
/Copa/nbproject/private/
/Copa/build/
/Code/Copa/build/
/Code/Copa/nbproject/private/
/Code/NewBiblioteca/build/
/Code/NewBiblioteca/nbproject/private/
/Code/Copa/nbproject/
